body {
  margin-top: 105px;
}

.navbar {
  opacity: 0.8;
  box-shadow: 2px 2px 5px #3292a6;
  background: #fff;
}

.navbar .nav-item {
  font-size: 1.4rem;
  padding-right: 1.4rem;
}

#home-section {
  background: url(../img/mountains.jpg);
  min-height: 600px;
  position: relative;
  top: 0;
}

#home-section .primary-overlay {
  background: rgba(50, 146, 166, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

#newsletter .col-lg-4 .btn-primary {
  background: #3292a6;
}
.info-header {
  width: 50%;
  margin: 0 auto;
}
@media (max-width: 768px) {
  #home-section {
    min-height: 500px;
  }

  #home-section h1{
    font-size: 4rem;
  }

  .mb-resp {
    margin-bottom: 0.75rem;
  }
}
